:root {
  --bg: #f1f5f9;
  --cf: #020617;
  --primary: #ff0050;
  --p: #334155;
  --btn: #00f2ea;
  --hvr: #06b6d4;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--cf);
}

.hero a,
nav a {
  color: var(--cf);
}

.hero a:hover,
nav a:hover {
  color: var(--primary);
  transition: 0.5s;
}

.hamburger {
  display: none;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 1.4rem 5%;
  z-index: 99999;
  background-color: rgba(241, 245, 249, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  top: 0;
  transition: 0.3s;
}

nav .hamburger i {
  transition: 1s;
}

nav .nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--p);
}

nav .nav-brand span {
  color: var(--primary);
}

nav .nav-link {
  display: flex;
  position: relative;
  justify-content: end;
  padding-right: 3rem;
  width: 100%;
}

nav .nav-link .nav-list {
  display: flex;
  position: relative;
  gap: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

nav .nav-link .nav-list li {
  list-style: none;
}

nav .nav-link .nav-list li a {
  text-decoration: none;
}

nav .nav-link .nav-list li a:hover {
  color: var(--primary);
  transition: 0.5s;
}

nav .icon-social {
  display: flex;
  position: relative;
  gap: 1rem;
  font-size: 1.5rem;
}

/* hero section start */
.hero {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 10rem 5% 1.4rem;
  justify-content: center;
}

.hero .container {
  width: 100%;
  display: grid;
  grid-template-areas: "main aside";
  grid-template-columns: 1.4fr 1.3fr;
}

.hero main h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  animation: atas 1s linear;
}

.hero main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  animation: atas 0.8s linear;
}

.hero main h1 span {
  font-weight: 800;
  color: #ff0050;
}

.hero main p {
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 400;
  color: var(--p);
  letter-spacing: 1px;
  margin-bottom: 2rem;
  animation: atas 0.5s linear;
}

.hero main button {
  font-size: 1rem;
  font-weight: 600;
  color: var(--cf);
  outline: none;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--btn);
  margin-right: 1.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  animation: zoom 0.5s linear;
}

.hero main button:hover {
  background-color: var(--primary);
  transition: 0.5s;
}

.hero main .card {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  box-sizing: border-box;
}

.hero main .card .profile {
  display: flex;
  position: absolute;
  border: 3px solid #9ca3af;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  left: -3%;
  top: -20%;
  background-image: url(img/me.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero main .text {
  width: 90%;
  height: 70px;
  border: 1px solid #9ca3af;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0;
  background-color: #e5e7eb;
}

.hero main .card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
  padding-left: 0.5rem;
  background-color: transparent;
}

.hero main .card a {
  text-decoration: none;
  background-color: transparent;
}

.hero main .card p {
  font-size: 0.8rem;
  background: #e2e8f0;
  padding: 0.3rem 0.5rem 0.3rem 1rem;
  border-radius: 1rem;
  color: var(--cf);
  font-weight: 500;
}

aside {
  display: flex;
  position: relative;
  justify-content: center;
}

aside .image1 {
  width: 400px;
  height: 400px;
  border-radius: 1.5rem;
  background-image: url(img/me1.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 20px 20px 0 #ff0050, -20px -20px 0 #00f2ea;
  animation: tx 0.5s ease-in-out;
}

aside .sosmed {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.4rem;
  gap: 1.4rem;
  justify-self: flex-end;
  right: -5%;
}

@keyframes atas {
  0% {
    transform: translateY(-50%);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
}

@keyframes tx {
  0% {
    transform: translateX(50%);
  }
}
/* hero section end */

/* about section */
.about {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 1.4rem 5%;
  justify-content: center;
  align-items: center;
}
.about .table {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  background-color: #ff0050;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.about .table h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about .table span {
  font-size: 4rem;
  color: var(--bg);
}

.about .table p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  line-height: 1.3;
  word-spacing: 1px;
  letter-spacing: none;
  margin-bottom: 0.5rem;
}

.about .table .media {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 1rem;
}

.about .table .media ul {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
  gap: 1rem;
}

.about .tablet .media ul li a {
  color: var(--bg) !important;
}

.about .tablet .media ul li a:hover {
  color: var(--p);
}

.about .table p a {
  color: var(--btn);
  text-decoration: none;
  font-weight: bold;
}

.about .table p a:hover {
  color: var(--bg);
}

.about .table .media a {
  color: var(--btn);
}

.about .table .media a:hover {
  color: var(--bg);
}

.about .info {
  width: 50%;
  padding: 2rem;
  border: 2px solid #9ca3af;
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: #f3f4f6;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
}

.about .info h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about .info p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.about .info i {
  font-size: 2rem;
}
.about .info div {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 1rem;
}
/* about section end */

footer {
  width: 100%;
  height: 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
}

@media (max-width: 576px) {
  html {
    font-size: 65%;
  }

  nav .nav-link {
    display: flex;
    position: absolute;
    top: -1000%;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    padding: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
  }

  nav .nav-link.open {
    top: 100%;
  }

  nav .nav-link .nav-list {
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
    justify-self: center;
  }

  nav .nav-link .nav-list li {
    margin-bottom: 3rem;
    font-size: 1.4rem;
  }

  nav .nav-brand {
    font-size: 1.4rem;
    z-index: 1;
  }

  nav .hamburger {
    display: block;
    font-size: 1.5rem;
    z-index: 1;
  }

  nav .icon-social {
    width: 90%;
    display: flex;
    position: relative;
    justify-content: end;
    padding-right: 1.2rem;
  }

  .about .info {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .hero main button {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .hero .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero main .card {
    display: none;
  }

  aside {
    display: block;
    position: relative;
    justify-content: center;
  }

  aside .image1 {
    width: 200px;
    height: 200px;
  }
  aside .sosmed {
    flex-direction: unset;
    top: 9%;
  }

  aside .sosmed i {
    margin-right: 0.8rem;
    background: transparent;
  }
}

@media (max-width: 320px) {
  aside .sosmed {
    bottom: 10%;
  }
}
